/* 
    Document   : style.css
    Created on : Nov 13, 2012, 3:08:06 PM
    Author     : charles
    Description:
        Purpose of the stylesheet follows.
*/

* {
    font-family: "trebuchet ms", arial, helvetica, verdana;
    font-size: 11px;
}

body {
    font-size: 11px;
    color: #000;
    margin: 0;
    padding: 0;
    background: #cec;
}

img {
    border: 0;
}

#header, #content, #footer {
    width: 83%;
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
    background: #fff;
}

#header {
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-bottom: 3px;
}

#header div {
    text-align: right;
}

#menu {
    border-top: 1px solid #cec;
}

#menu ul {
    list-style-type: none;
    text-align: left;
    padding: 2px;
    margin: 2px;
    text-indent: 10px;
}

#menu ul li {
    list-style-type: none;
    display: inline;
    margin-right: 8px;
}

#menu ul li a {
    text-decoration: none;
    color: #039E12;
    font-weight: bold;
}

#menu ul li a:hover {
    color: #FF1437;
    text-decoration: underline;
}

#content {
    min-height: 450px;
    margin-bottom: 3px;
    border: 1px solid #ccc;
    border-radius: 4px;
    -moz-border-radius: 4px;
}

#footer {
    text-align: center;
    background: #cec;
    color: #5cb811;
    font-family: "Trebuchet MS", "Tahoma", "Monospace";
    font-size: 11px;
}

#clear {
    clear: both;
    padding: 0;
    margin: 5px 0 5px 0;
}

.input-text {
    background: #ffffff;
    border: 1px solid #707070;
    border-radius: 3px;
    font-size: 11px;
    box-shadow: inset 0 0 10px #c0c0c0;
    -webkit-box-shadow: inset 0 0 10px #c0c0c0;
    padding: 5px 3px 5px 3px;
}

.button {
	-moz-box-shadow:inset 0px 1px 2px 0px #d9fbbe;
	-webkit-box-shadow:inset 0px 1px 2px 0px #d9fbbe;
	box-shadow:inset 0px 1px 2px 0px #d9fbbe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b8e356), color-stop(1, #a5cc52) );
	background:-moz-linear-gradient( center top, #b8e356 5%, #a5cc52 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356', endColorstr='#a5cc52');
	background-color:#b8e356;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #83c41a;
	display:inline-block;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:11px;
	font-weight:bold;
	padding:5px 25px;
	text-decoration:none;
	text-shadow:-2px 1px 0px #86ae47;
    cursor: pointer;
}.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a5cc52), color-stop(1, #b8e356) );
	background:-moz-linear-gradient( center top, #a5cc52 5%, #b8e356 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5cc52', endColorstr='#b8e356');
	background-color:#a5cc52;
}.button:active {
	position:relative;
	top:1px;
}

/* This imageless css button was generated by CSSButtonGenerator.com */

.transButton {
	-moz-box-shadow:inset 0px 1px 1px 1px #ffffff;
	-webkit-box-shadow:inset 0px 1px 1px 1px #ffffff;
	box-shadow:inset 0px 1px 1px 1px #ffffff;
	background-color:transparent;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:Trebuchet MS;
	font-size:11px;
	font-weight:bold;
	padding:3px 13px;
	text-decoration:none;
	text-shadow:-1px 0px 0px #ebebeb;
}.transButton:hover {
    border-color: #b8e356;
    color: #b8e356;
    cursor: pointer;
}.transButton:active {
	position:relative;
	top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */


.error {
    padding: 5px 3px 5px 3px;
    border: 1px solid #FF1437;
    background: #FFC1C1;
    color: #039E12;
}


.info {
    padding: 5px 3px 5px 3px;
    border: 1px solid #5cb811;
    background: #DDFF75;
    color: #3F6219
}

div.ui-datepicker{
    font-size: 11px;
}